@use '../styles/variable' as vars;

.button {
  width: 180px;
  height: 60px;
  border-radius: 8px;
  padding: 16px 32px;
  background-color: vars.$marvel-red;
  color: vars.$white;
  font-family: vars.$font-roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 89px;
  position: relative;

  &:hover {
    background-color: darken(vars.$marvel-red, 10%);
    transform: translateY(-2px);
  }
}

.comicGallerySection {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(180.16deg, rgba(3, 3, 3, 0) 0.14%, #030303 20.56%);

  .comicGallery {
    padding-top: 525px;
  }

  .redLine {
    margin: 0 89px;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(90deg, #F0141E 41.9%, rgba(240, 20, 30, 0) 97.68%);
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 65px;
    margin: 120px 0;
  }

  .card {
    max-width: 285px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &Image {
      width: 285px;
      height: 350px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

    }

    &Title {
      font-family: vars.$font-roboto;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.8rem;
      margin: 20px 0 10px;
      color: vars.$white;
      min-height: 70px;
    }

    &Details {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: vars.$font-roboto;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #FFFFFF80;

      .separator {
        opacity: 0.5;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
      .cardTitle {
        text-decoration: underline;
        color: vars.$white;
      }
    }

  }
}

.skeletonCard {
  background: linear-gradient(90deg, #eeeeee 25%, #bcbcbc 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  width: 100%;
  max-width: 285px;
  height: 470px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.filterContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background: #030303;
  padding: 2rem 0 0 0;
  z-index: 100;
  margin: 0 89px;
  select {
    font-size: 20px;
    padding: 6px 10px;
  }
}

.dropdownnote {
  color: vars.$white;
  margin: 8px 89px;
}