@use '../styles/variable' as vars;

.header {
  // background-color: #030303;
  padding: 55px 89px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #030303 0%, rgba(3, 3, 3, 0) 75.26%);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      list-style: none;
      gap: 35px;
      align-items: center;

      li {
        a {
          font-family: vars.$font-roboto;
          font-weight: 400;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0;
          color: vars.$white;
          text-decoration: none;
          transition: all 0.3s ease;
          position: relative;

          &:hover {
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: vars.$white;
            }
          }
        }
      }
    }
  }
}