@use '../styles/variable' as vars;

.container {
  max-width: 1512px;
  margin: auto;
  background-color: vars.$marvel-dark;
  border-radius: 50px;
}
.content {
  position: relative;
  overflow: hidden;
  border-radius: 50px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/_next/static/media/spiderman-bg.aff647b4.jpg);
    background-size: contain;
    background-position: center;
    transform: translateY(-15%);
  }
}

